.skill_card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: inset -5px -6px 20px 0px rgb(0 0 0 / 25%);
    transition: 0.2s;
    padding: 5px;
}

.card_title {
    font-size: 150%;
    padding-bottom: 20px;
}

.web_card:active {
    transition: 0.2s;
    box-shadow: inset 0px 0px 0px 300px rgba(0, 158, 197, 0.377);
    color: rgb(24, 24, 24);
}
.obj_card:active {
    transition: 0.2s;
    box-shadow: inset 0px 0px 0px 300px rgba(50, 153, 194, 0.377);
}
.cyber_card:active {
    transition: 0.2s;
    box-shadow: inset 0px 0px 0px 300px rgba(0, 163, 184, 0.336);
    color: rgb(26, 26, 26);
}
.net_card:active {
    transition: 0.2s;
    box-shadow: inset 0px 0px 0px 300px rgba(45, 182, 175, 0.486);
}

@media (max-width: 750px) {

    .skill_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        margin-top: 50px;
        margin-bottom: 50px;
    }

}