/* ------------------------ */

.PDF{
    display: flex;
    justify-content: center;
  }
  #pdfhtml {
  font-family: Arial;
  font-size: 200%;
  color: white;
  max-width: 300px;
  margin : auto;
  text-align:center;
  background-color: rgb(89, 89, 89);
  border-radius: .4rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1%;
  padding-bottom: 1%;
    transition:0.3s;
  }
  #pdfhtml:hover {
  transition:0.3s;
  background-color: grey;
  box-shadow:5px 5px 0px black;
  }
  
  #pdfvu {
  font-family: Arial;
  font-size: 200%;
  color: white; 
  max-width: 300px;
  margin : auto;
  text-align:center;
  background-color: rgb(89, 89, 89);
  border-radius: .4rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
    transition:0.3s;
  }
  #pdfvu:hover {
  transition:0.3s;
  background-color: grey;
  box-shadow:5px 5px 0px black;
  }
  #pdfkléo{
  font-family: Arial;
  font-size: 200%;
  color: white; 
  max-width: 300px;
  margin : auto;
  text-align:center;
  background-color: rgb(89, 89, 89);
  border-radius: .4rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
    transition:0.3s;
  }
  #pdfkléo:hover {
  transition:0.3s;
  background-color: grey;
  box-shadow:5px 5px 0px black;
  }
