.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    user-select: none;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border-radius: .4rem;
    border-collapse: 30%;
    padding: 2rem 1rem;
    box-shadow: inset 2px 4px 16px -3px rgba(0, 0, 0, 0.37);
    max-width: 300px;
    background-color: white;
}
#card-link {
    font-family: Arial;
    font-size: 200%;
    color: white;
    max-width: 300px;
    margin : auto;
    text-align:center;
    background-color: rgb(89, 89, 89);
    border-radius: .4rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
      transition:0.3s;
    }
#card-link:hover {
    transition:0.3s;
    background-color: grey;
    box-shadow:5px 5px 0px black;
}

.description{
    font-size: 150%;
    max-width: 60%;
    text-align: center;
    margin : auto;
}

.element1-head {
    max-width: 100%;
  }

.element1-title {
  display: flex;
  justify-content: space-evenly;
}
  
  .skillsJs {
    max-width: 100%;
  }
  
  .Skill__bar{
    height: 6px;
    background-color: #2e2e2e;
  }
  
  .Skill__progress{
    animation: apparition 2s;
    background-color: rgb(53, 140, 211);
    height: 6px;
    position: absolute;
  }
  
  #rss {
    max-width: 100%;
    width: 230px;
  }
  #WeekSong {
    max-width: 100%;
    width: 200px;
  }
  #feedBackSelf {
    max-width: 100%;
    width: 260px;
  }
  #jetteMoiUnRegard {
    max-width: 100%;
    width: 180px;
  }
  #ntList {
    max-width: 100%;
    width: 50px;
  }
  
