/********************************/
/**   Text dans section, veil  */
/******************************/
  .imgPwa{
    margin: 10%;
    position: relative;

  }
  .imgPwa2{
    position: relative;
    max-height: 600px;
    max-width: 600px;
  }
  .Para-text{
    margin: 8%;
  }
  .bloc {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 10px;
    margin: 10px;
  }
  .news {
    border: #36382E solid 3px;
    width: 50%;
  }

  main {
    display: flex;
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 3%;
    border: #36382E solid 2px;
    border-radius: 3px;
    transition: 0.2s;
  }
  .card:hover{
    box-shadow: #a8a8a8 3px 3px 1px 1px;
    transition: 0.2s;
  }
  .card_title{
    font-size: 1.3rem;
  }
  .card_line{
    border: solid rgb(70, 70, 70) 0.1px;
    background: rgb(70, 70, 70);
  }

  @media (max-width: 750px) {

    .news{
      display: none;
    }
    .bloc {
      max-width: 100%;
      width: 100%;
    }

  }



  .sideNav {
    position:fixed; 
    left: 20px;
  }
  .sideNav a {
    color: #2e3538;
    text-decoration: none;
  }
  .sideNav a:hover {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
  @media screen and (max-width: 1200px) {
    .sideNav {
      display: none;
    }
  }