---
import BaseLayout from "../layouts/BaseLayout.astro";

import MY from "../components/background/MY.astro";
import WORK from "../components/background/WORK.astro";
import CONCEPTION from "../components/background/CONCEPTION.astro";

import Name from "../components/Name.astro";
import ProfilePicture from "../components/ProfilePicture.astro";

import Techno from "../components/Techno.astro";
---

<BaseLayout>
	<section id="my">
		<div class="container">
			<MY />
			<div class="description__content">
				<div class="NameContainer">
					<Name />
				</div>
				<div class="card">
					<h2 class="card__title">Me</h2>
					<p>
						Salut, moi c’est Yanis, développeur en apprentissage
						chez Icodia. Actuellement je travaille pour aquiérir un
						bachelor concepteur développeur d’application.
						Cepandant, cela ne me suffira surement pas ! Objectif :
						devenir un expert, cela dit sans grandes prétention car
						il ne faudrait pas se bruler les ailes...
					</p>
				</div>
				<ProfilePicture />
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<WORK />
			<div class="work__content">
				<Techno class="work__content_icon" techno="vuejs" />
				<Techno class="work__content_icon" techno="javascript" />
				<Techno class="work__content_icon" techno="css" />
				<Techno class="work__content_icon" techno="csharp" />
				<Techno class="work__content_icon" techno="html" />
				<Techno class="work__content_icon" techno="php" />
			</div>
		</div>
	</section>
	<section id="conception">
		<!-- <CONCEPTION/> -->
	</section>
</BaseLayout>

<style lang="scss">
	.container {
		height: 100%;
		display: flex;
	}
	.NameContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.description__content,
	.work__content {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.description__content {
		flex-direction: column;
	}

	.work__content {
		height: 100%;
		width: 100%;
		align-content: center;
		justify-content: space-around;
	}
</style>