---
import BaseLayout from "../layouts/BaseLayout.astro";

import MY from "../components/background/MY.astro";
import WORK from "../components/background/WORK.astro";
import CONCEPTION from "../components/background/CONCEPTION.astro";

import Name from "../components/Name.astro";
import ProfilePicture from "../components/ProfilePicture.astro";

import Techno from "../components/Techno.astro";
import BlogPost from "../components/BlogPost.astro";
import NextSection from "../components/NextSection.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<BaseLayout pageTitle="Portfolio yanis legrand">
	<section id="my">
		<div class="container">
			<MY />
			<div class="description__content">
				<div class="NameContainer">
					<Name />
				</div>
				<div class="description__content_my">
					<div class="card">
						<h2 class="card__title">Me</h2>
						<p class="card__description">
							Salut, moi c’est Yanis, développeur en apprentissage
							chez Icodia. Actuellement en <a href="https://www.francecompetences.fr/recherche/rncp/31678/" class="link" target="_blank" title="Lien vers la fiche france competence">bachelor concepteur développeur d’application</a>, 
							je compte approfondir mes compétence affin de devenir <a href="https://www.francecompetences.fr/recherche/rncp/35584/" class="link" target="_blank" title="Lien vers la fiche france competence">expert en informatique et système d'information</a>. 
							Objectif : emmagasiner plus d'expérience ainsi que des connaissances grâce à l'alternance et au titre professionnel.
						</p>
					</div>
					<ProfilePicture />
				</div>
				<NextSection anchor="work" />
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<WORK />
			<div class="work__container">
				<div class="card">
					<h2 class="card__title">Work</h2>
					<p class="card__description">
						Voici une liste des langages/frameworks et technos que
						j'ai été amené à utilisé (mes préférés).
					</p>
				</div>
				<div class="work__content">
					<Techno class="work__content_icon" techno="vuejs" />
					<Techno class="work__content_icon" techno="javascript" />
					<Techno class="work__content_icon" techno="css" />
					<Techno class="work__content_icon" techno="csharp" />
					<Techno class="work__content_icon" techno="html" />
					<Techno class="work__content_icon" techno="php" />
				</div>
				<NextSection anchor="conception" />
			</div>
		</div>
	</section>
	<section id="conception">
		<div class="container">
			<CONCEPTION />
			<div class="conception__container">
				<div class="card">
					<h2 class="card__title">Conception</h2>
					<p class="card__description">
						Cette partie concerne différent projet qui me semblent intéréssant. Orientée "blog", vous y trouverez des posts sur certains concepts découvert durant ma veille, qui me semblent intéressants. 
					</p>
				</div>
			<div class="conception__content">
				{
					allPosts.map((post) => (
						<BlogPost
							url={post.url}
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							tags={post.frontmatter.tags}
						/>
					))
				}
			</div>
		</div>
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#conception .container {
		align-items: center;
	}

	.NameContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.description__content,
	.work__container,
	.conception__container {
		position: absolute;
	}

	.work__container, .conception__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.description__content,
	.work__content,
	.conception__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
	}

	.conception__container {
		width: 80vw;
	}

	.description__content {
		flex-direction: column;
		align-items: center;
		width: 100%;

		&_my {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.card {
			max-width: 30em;
		}
	}

	.work__content,
	.conception__content {
		height: 100%;
		width: 100%;
		align-content: center;
		justify-content: space-around;
	}

	@media screen and (min-width: 700px) {
		#conception .container {
			align-items: baseline;
		}

		.description__content {
			&_my {
				flex-direction: row;
				justify-content: space-around;
				width: 80vw;
			}
		}

		.nextSection {
			display: none;
		}

		.work__container {
			height: 80vh;
		}
	}
</style>
