---
import ThemeIcon from "./ThemeIcon.astro";
import Tools from "./Tools.astro";
---

<footer class="footer">
    <div class="footer__container">
        <h2>NAVIGATION</h2>
        <nav class="footer__nav">
            <a class="footer__nav_link" href="/">My</a>
            <a class="footer__nav_link" href="/#work">work</a>
            <a class="footer__nav_link" href="/#conception">conception</a>
        </nav>
        <h2>CONTACT</h2>
        <div class="footer__contact" id="contact">
            <a href="mailto:yanis.legrand.1@ik.me"><img src="/icons/mail.svg" alt="" class="mediumIcon" /></a>
            <a href="https://www.linkedin.com/in/yanis-legrand/"><img src="/icons/linkedin.svg" alt="" class="mediumIcon" /></a>
        </div>
    </div>
    <div class="footer__social">
        <div class="footer__social_content">
            <a href="https://github.com/yaperson/"><img src="/icons/github.png" class="litleIcon" alt=""></a>
            <a href="https://www.root-me.org/yaperson?lang=fr"><img src="/icons/siteon0.svg" class="litleIcon" alt=""></a>
        </div>
        <div class="footer__social_content">
            <p>Porfolio Yanis Legrand <a href="#legalpart">mentions légales</a></p>
        </div>
    </div>
</footer>

<div class="icons__container">
    <Tools />
    <ThemeIcon />
</div>