---
---

<nav class="navbar" id="navbar">
    <div>
        <a class="nav__links" aria-current="page" href="#">My</a>
        <a class="nav__links" href="#work">work</a>
        <a class="nav__links" href="#conception">conception</a>
    </div>
    <a class="nav__links" href="https://github.com/yaperson" id="right"
        ><img
            src="/icons/github.png"
            alt="logo de github"
            class="logo-topnav"
        /></a
    >
</nav>

<script>
	import "../scripts/menu.js"
</script>