---
const { techno } = Astro.props;
let randomRepo = "";
let technoList = `[{
        "name": "vuejs", 
        "projectsList" : ["https://github.com/yaperson/vue-website", "https://github.com/yaperson/morpion-vuejs"]
    }, {
        "name": "javascript", 
        "projectsList": ["https://github.com/yaperson/jswebscrapping", "https://github.com/yaperson/Musique-web", "https://github.com/yaperson/SPA-RSS"]
    }, {
        "name": "css", 
        "projectsList": ["https://github.com/yaperson/portfolio", "https://github.com/yaperson/Musique-web", "https://github.com/yaperson/scss"]
    }, {
        "name": "html", 
        "projectsList": ["https://github.com/yaperson/portfolio", "https://github.com/yaperson/tutorial", "https://github.com/yaperson/Musique-web"]
    }, {
        "name": "php", 
        "projectsList": ["https://github.com/yaperson/self-feedback1"]
    }, {
        "name": "csharp", 
        "projectsList": ["https://github.com/yaperson/Opportunity_Crawler/tree/Opportunity_crawler"]
    }
]`;

technoList = JSON.parse(technoList);

for (let elems in technoList) {
    let elem = technoList[elems];
    if (elem.name == techno) {
        randomRepo =
            elem.projectsList[
                Math.floor(Math.random() * elem.projectsList.length)
            ];
    }
}
---

<a target="_blank" href={`${randomRepo}`}><img src={`/icons/${techno}.svg`} alt="" /></a>
